* {
  margin: 0;
  padding: 0;
}

:root {
  --chemical-bottle-fg: gold;
  --chemical-bottle-bg: black;
  --half-circle-bg: white;
  --blue-shade: #435d96;
  --blue-shade-lite: #7797bf;
  --cream: #f0baab;
  --maroon: #d26655;
  --green-shade: #697b;
}

.tiles {
  height: 100vh;
  width: 100%;
  background: radial-gradient(circle at 50% 0%, var(--green-shade), rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.77) 15%, #59727182 30%),
    radial-gradient(circle at 0% 50%, var(--green-shade), rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.77) 15%, #59727180 30%),
    radial-gradient(circle at 50% 100%, var(--green-shade), rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.77) 15%, #59727180 30%),
    radial-gradient(circle at 100% 50%, var(--green-shade), rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.77) 15%, #59727181 30%);
  background-size: 100px 100px;
  /* background-repeat: no-repeat; */
}

.chemical-bottle {
  height: 100vh;
  width: 100%;

  background: radial-gradient(circle at bottom left, var(--chemical-bottle-bg) 40%, var(--chemical-bottle-fg) 40%, var(--chemical-bottle-fg) 47%, rgba(0, 0, 0, 0) 47%),
    radial-gradient(circle at 100% 83%, var(--chemical-bottle-bg) 30.5%, var(--chemical-bottle-fg) 30.5%, var(--chemical-bottle-fg) 38%, rgba(0, 0, 0, 0) 38%),
    radial-gradient(circle at 18% 0%, var(--chemical-bottle-bg) 29.8%, var(--chemical-bottle-fg) 29.8%, var(--chemical-bottle-fg) 37.5%, var(--chemical-bottle-bg) 37.5%);
  background-size: 100px 100px;
  /* background-repeat: no-repeat; */
}

.container {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle at left center, var(--blue-shade) 5%, var(--blue-shade) 24.3%, rgba(0, 0, 0, 0) 24.3%),
    radial-gradient(circle at 75% 0%, var(--cream) 5%, var(--cream) 27.8%, rgba(0, 0, 0, 0) 25%),
    radial-gradient(circle at 75% 100%, var(--blue-shade-lite) 5%, var(--blue-shade-lite) 27.8%, rgba(0, 0, 0, 0) 25%),
    linear-gradient(90deg, rgb(0, 0, 0, 0) 50%, white 50%),
    radial-gradient(circle at 50% 50%, var(--maroon) 20%, var(--maroon) 45%, white 25%);
  background-size: 500px 250px;
  /* background-repeat: no-repeat; */
}

.true-shade-tile {
  width: 100vw;
  height: 100vh;
  background:
    radial-gradient(circle at top left, var(--cream) 19.5%, #435d9600 19.5%),
    radial-gradient(circle at center center, var(--cream) 39%, #435d9600 39%),
    radial-gradient(circle at top center, var(--blue-shade) 20%, #f0baab00 20%),
    radial-gradient(circle at center right, var(--blue-shade) 20%, #f0baab00 10%),
    radial-gradient(circle at bottom right, var(--cream) 19.5%, #435d9600 19.5%),
    radial-gradient(circle at 80% 100%, var(--blue-shade) 40%, #435d9600 10%),
    radial-gradient(circle at bottom left, var(--cream) 19.5%, #435d9600 10%),
    linear-gradient(90deg, #435d96 50%, var(--cream) 50%);

  background-size: 200px 200px;
  /* background-repeat: no-repeat; */
}