* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  background-color: #f6f6f6;
  border: 1px solid #eee;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.478);
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 5px;
}

.image {
  background-color: hsl(0 -2% 93% / 1);
  padding: 1.2em;
}

.details {
  padding: 0em 1em;
}

.detail-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.types {
  display: flex;
  gap: 4px;
}

.type {
  background-color: rgb(180, 221, 180);
  padding: 0.2em 0.6em;
  border-radius: 6px;
}

.attributes {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.attribute {
  padding-bottom: .3em;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid gainsboro;
}